---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Images from "../components/Images.astro";
---

<Layout>
  <div class="container mx-auto flex justify-center text-center items-center mt-5">
    <main>
      <h1 class="flex justify-center mt-4">Pictures</h1>
        <Images />
      <div class="flex justify-center mt-4">
      </div>
    </main>
  </div>
</Layout>
