<div>
  <form method="POST" id="form">
    <input type="hidden" name="access_key" value="6f4990f6-047d-4020-a0d9-e5b32dfc80e5">
    <input type="text" placeholder="Name" name="name" required>
    <input type="email" placeholder="Email Address" name="email" required>
  </form>
</div>
