---
import Shows from "../components/Shows.astro";
import Tips from "../components/Tips.astro";
---

<div id="container" class="container mx-auto flex justify-center text-center items-center mt-5">
  <main>
    <h1 id="home">
      Paul Sanders Music
    </h1>
    <div class="mb-4 mx-auto">
      <img src="img/paul.jpg" alt="Paul Sanders" class="mx-auto" />
    </div>
    <p>
      Paul Sanders is a solo acoustic performer with a varity of songs to keep audiences of all
      ages entertained.
    </p>
    <p>
      In addtion to his solo music he is also a member of the band
      <a href="https://planetpluto.band" class="link">Planet Pluto</a> where he sings lead and
      backing vocals and plays lead guitar.
    </p>
    <div class="mt-4">
      <Tips />
    </div>
    <Shows />
  </main>
</div>
