<div>
  <h2>Upcoming Shows</h2>
  <ul class="list bg-base-100 rounded-box shadow-md">
    <li class="list-row">
      <div>
        July 18 2025 - 7pm @ <a class="link" href="https://www.facebook.com/VillageBev">Village Beverage</a>
      </div>
    </li>
  </ul>
</div>
